{% extends "/menu.html" %}

{% block main %}

<div class="container h-100">
    <div class="d-flex flex-row flex-column-fluid page">
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <div id="kt_content" class="content d-flex flex-column flex-column-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xxl-4">
                            <div class="text-center mb-10">
                                <h1 class="display-3 text-muted font-weight-bold mb-10">Erro 404</h1>
                                <p class="font-size-h4 font-weight-bold">Página não encontrada</p>
                                <a href="/" class="btn btn-primary">Voltar para a página inicial</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


            
        