{% extends "/menu.html" %}

{% block main %}

<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
              
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2" id="produtosDropdown">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Rolloff</h5>
            <!--end::Page Title-->
            <!--begin::Actions-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            
            <div class="col-auto">
                <label for="submercado-dropdown" class="col-form-label">Submercado:</label>
            </div>
            <div class="col-auto">
                <select name="submercado" id="submercado-dropdown" class="form-control">
                    <option value="">Selecione um submercado</option>
                </select>
            </div>

            <div class="col-auto">
                <label for="maturacao-dropdown" class="col-form-label">Maturação:</label>
            </div>
            <div class="col-auto">
                <select name="maturacao" id="maturacao-dropdown" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="d-flex align-items-center" style="display: none;">
                                    <!--begin::Actions-->
                                                                        <!--end::Actions-->
                                    <!--begin::Dropdown-->
            <div class="dropdown dropdown-inline m-5" data-toggle="tooltip" title="Alterar visualização das colunas" data-placement="right">
                <!-- <a href="#" class="btn btn-primary font-weight-bolder btn-sm" style="font-size: 0.8rem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mostrar / Esconder Colunas
                </a> -->
                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right p-0 m-0">
                    <!--begin::Navigation-->
                    <ul class="navi navi-hover">
                        <li class="navi-header font-weight-bold py-4">
                            <span class="font-size-lg">Mostrar / Esconder colunas:</span>
                            <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>
                        </li>
                        <li class="navi-separator mb-3 opacity-70"></li>
                        <!-- Loop through your columns here -->
                        {% for coluna in colunas %}
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-text">
                                    <!-- Use the column_name as the ID and check the column_status to determine the label color -->
                                    <span onclick="visibcoluna('{{ coluna['nome'] }}')" class="label label-xl label-inline {% if coluna['visivel'] == '1' %}label-light-success{% else %}label-light-danger{% endif %}">{{ coluna['nome'] }}</span>
                                </span>
                            </a>
                        </li>
                        {% endfor %}
                        <!-- End of loop -->
                    </ul>
                    <!--end::Navigation-->
                </div>
            </div>

            <!--end::Dropdown-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        
        
        <!--end::Toolbar-->
    </div>
</div>
<br>



<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Dashboard-->
        <!--begin::Row-->
        <div class="row">

            


            

            
            <div class="col-lg-12 col-xxl-12 order-1 order-xxl-12 mb-5">
                <!--begin::Card-->
                <div class="card card-custom" id="cardChart" style="display: none;">
                    <div class="card-body">
                        <!--begin: Chart-->
                        <div id="chart"></div>
                        <!--end: Chart-->
                    </div>
                </div>
                <!--end::Card-->
            </div>

            <div class="col-lg-12 col-xxl-12 order-1 order-xxl-12 mb-5">
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-body" id="card1" style="display: none;">
                        <!--begin: Datatable-->
                        <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
                        <!--end: Datatable-->
                    </div>
                </div>
                <!--end::Card-->
            </div>
            
        </div>
        <!--end::Row-->
        <!--end::Dashboard-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Aguarde...</span>
                </div>
                <p id="loadingText"></p>
            </div>
        </div>
    </div>
</div>
<script>
function showLoadingModal(text) {
    $('#loadingText').text(text);
    $('#loadingModal').modal('show');
}
function hideLoadingModal() {
    setTimeout(function() {
        $('#loadingModal').modal('hide');
    }, 250);
}
</script>

{% endblock %}

{% block footer %}
<script src="js/waitingfor.js"></script>
<script src="assets/js/plotly-2.32.0.min.js" charset="utf-8"></script>
<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
<script>

    var precos = null;
    var submercados = null;
    var dados_produto = null;
    var dadosRollof = null;

    document.addEventListener('DOMContentLoaded', function() {
        showLoadingModal('Obtendo dados históricos...');
        $.post("/_obter_precos", {visualizacao: 'Rollof'})
            .done(function (data) {
                var dados = JSON.parse(data);
                submercados = dados.submercados;

                var produtosDropdown = document.getElementById('produtosDropdown');
                produtosDropdown.style.display = 'block';

                var dropdown = $('#submercado-dropdown');
                dropdown.empty();
                $.each(submercados, function(key, value) {
                    dropdown.append($('<option></option>').attr('value', value).text(value));
                });


                obterDados();

                hideLoadingModal();


                
            });
    });
    

    var KTDatatableRemoteAjaxDemo = function () {
        var demo = function () {
        var datatable = $('#kt_datatable').KTDatatable({
            // datasource definition
            data: {
                type: 'local', // Alterado para 'local'
                source: dadosRollof, // Utilizando a variável dados_produto como fonte de dados
                pageSize: 10,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
            },

                // layout definition
                layout: {
                    scroll: false,
                    footer: false,
                },

                // column sorting
                sortable: true,

                pagination: true,

                search: {
                    input: $('#kt_datatable_search_query_nome'),
                    key: 'generalSearch'
                },

                // columns definition
                columns: [
                {
                    field: 'id',
                    title: '#',
                    width: 40,
                    textAlign: 'center'
                },
                {
                    field: 'produto',
                    title: 'Produto',
                    sortable: 'asc',
                    type: 'number',
                    selector: false,
                    textAlign: 'center',
                }, 
                {
                    field: 'submercado',
                    width: 80,
                    title: 'Submercado',
                }, 
                {
                    field: 'expiracao',
                    textAlign: 'center',
                    title: 'Expiração',
                    autoHide: false,
                }, 
                {
                    field: 'data',
                    title: 'Data',
                }, 
                {
                    field: 'volume',
                    textAlign: 'center',
                    title: 'Volume',
                },
                {
                    field: 'VWAP',
                    textAlign: 'center',
                    title: 'VWAP',
                },
                {
                    field: 'M',
                    textAlign: 'center',
                    title: 'M',
                },
                {
                    field: 'H',
                    textAlign: 'center',
                    title: 'H',
                },
                {
                    field: 'h',
                    textAlign: 'center',
                    title: 'h',
                },
                {
                    field: 'h_cresc',
                    textAlign: 'center',
                    title: 'h_cresc',
                },
                
                
                ],

            });

        };

        return {
            // public functions
            init: function () {
                demo();
            },
        };
    }();

    function generatePlotlyChart(submercado, maturacao) {
    
    

    // Criar um novo gráfico
    var fig = {
        data: [{
            x: dadosRollof.map(function(item) { return item.data; }),
            y: dadosRollof.map(function(item) { return item.VWAP; }),
            mode: 'lines+markers',
            name: 'VWAP'
        }],
        layout: {
            title: `VWAP x Data - ${submercado} M+${maturacao}`,
            xaxis: {title: 'Data'},
            yaxis: {title: 'VWAP'},
            hovermode: 'x',
            showlegend: true
        }
    };

    // Atualizar o layout do gráfico
    Plotly.newPlot('chart', fig.data, fig.layout);
}


    function init(preco_r, submercado, maturacao) {
        try {
            $('#kt_datatable').KTDatatable().destroy();
        } catch {}
        $('#card1').show();
        $('#cardChart').show();
        KTDatatableRemoteAjaxDemo.init();

        
        generatePlotlyChart(submercado, maturacao);
        hideLoadingModal();

    }

    function obterDados() {
        var maturacao = document.getElementById('maturacao-dropdown').value;
        var submercado = document.getElementById('submercado-dropdown').value;
        if (maturacao == '' || submercado == '') {
            return;
        }
        $.post("/_obter_precos", {visualizacao: 'Rollof', maturacao: maturacao, submercado: submercado})
            .done(function (data) {
                var dados = JSON.parse(data);

                dadosRollof = [];

                // Convert dictionary to array of objects
                var dataArray = Object.values(dados['dados']);

                // Sort the array by date
                dataArray.sort(function(a, b) {
                    return new Date(a.data) - new Date(b.data);
                });
                
                
                // Iterate over the keys of the object
                for (var key in dataArray) {
                    dataArray[key]["id"] = key;
                    dadosRollof.push(dataArray[key]);
                }


                init(dadosRollof, submercado, maturacao);
                
            });
    }

    $('#submercado-dropdown').on('change', function() {
        var maturacao = document.getElementById('maturacao-dropdown').value;
        var submercado = document.getElementById('submercado-dropdown').value;
        if (maturacao == '' || submercado == '') {
            return;
        }
        showLoadingModal('Obtendo dados do submercado ' + submercado + ' com maturação M+ ' + maturacao);
        
        obterDados();
    });
    


    // produto on change
    $('#maturacao-dropdown').on('change', function() {
        var maturacao = document.getElementById('maturacao-dropdown').value;
        var submercado = document.getElementById('submercado-dropdown').value;
        if (maturacao == '' || submercado == '') {
            return;
        }
        showLoadingModal('Obtendo dados do submercado ' + submercado + ' com maturação M+ ' + maturacao);
        
        obterDados();
    });



</script>
{% endblock %}