{% extends "/menu.html" %}

{% block main %}
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!-- Título e Dropdowns -->
            <div class="d-flex align-items-center flex-grow-1" id="produtosDropdown">
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Rede Neural</h5>
                
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>

                {% if dias %}
                <div class="d-flex align-items-center">
                    <select name="m" id="m-dropdown" class="form-control mr-4 select2">
                        <option value="M+3">M+3</option>
                        <option value="M+2">M+2</option>
                        <option value="M+1">M+1</option>
                        <option value="M+0">M+0</option>
                    </select>
                </div>
                <!-- Dropdown de Seleção de Plots -->
                <div class="text-center" id="produtosDropdown">
                    <div class="d-flex align-items-center">
                        <select name="produtos" id="saida-dropdown" class="form-control">
                            {% for i in dias %}
                                <option value="{{ i }}">{{ i.replace('_', '/') }}</option>
                            {% endfor %}
                            <!-- Adicione mais opções conforme necessário -->
                        </select>
                    </div>
                </div>
                {% else %}
                <div class="d-flex align-items-center">
                    <label class="text-center mr-4 mt-2">Nenhum gráfico gerado ainda. Utilize o botão ao lado para gerar.</label>
                </div>
                {% endif %}
            </div>

            <!-- <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <div class="d-flex align-items-center justify-content-end flex-grow-0">
                <button class="btn btn-primary" data-toggle="modal" data-target="#dateModal">Escolher data</button>
            </div> -->
        </div>
    </div>

<div class="d-flex flex-column-fluid">
    <div class="container mt-5">
        

        <div id="charts">
            {% if not arquivos %}
            <div class="text-center d-flex justify-content-center align-items-center" style="height: 400px;">
                <div>
                    <h3 class="text-muted">Não há nenhum gráfico para ser visualizado.</h3>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="dateModal" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dateModalLabel">Escolher Data</h5>
            </div>
            <div class="modal-body">
                <label for="dateSelect" class="form-label>">Selecione a data desejada:</label>
                <select id="dateSelect" class="form-control">
                    <!-- As opções serão adicionadas aqui via JavaScript -->
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="confirmDate">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Aguarde...</span>
                </div>
                <p id="loadingText"></p>
            </div>
        </div>
    </div>
</div>

<script>
function showLoadingModal(text) {
    $('#loadingText').text(text);
    $('#loadingModal').modal('show');
}

function hideLoadingModal() {
    setTimeout(function() {
        $('#loadingModal').modal('hide');
    }, 500);
}
</script>
{% endblock %}

{% block footer %}
<script src="js/waitingfor.js"></script>
<script src="assets/js/plotly-2.32.0.min.js" charset="utf-8"></script>
<script>
var KTAppSettings = {
    "breakpoints": {
        "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400
    },
    "colors": {
        "theme": {
            "base": {
                "white": "#3699FF", "primary": "#3699FF", "secondary": "#E5EAEE",
                "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800",
                "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32"
            },
            "light": {
                "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3",
                "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE",
                "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0"
            },
            "inverse": {
                "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254",
                "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff",
                "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff"
            }
        },
        "gray": {
            "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF",
            "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299",
            "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32"
        }
    },
    "font-family": "Poppins"
};
// on change 
    $('#saida-dropdown').on('change', function() {
        let iteracao = $('#saida-dropdown option:selected').val();
        let m = $('#m-dropdown option:selected').val();
        loadPlot(iteracao, m);
    });

    $('#m-dropdown').on('change', function() {
        let iteracao = $('#saida-dropdown option:selected').val();
        let m = $('#m-dropdown option:selected').val();
        loadPlot(iteracao, m);
    });

function resizePlot(id) {
            var plotCard = document.getElementById(id);
            var width = plotCard.clientWidth;
            var height = plotCard.clientHeight;

            // Adjust the plot dimensions
            var update = {
                width: width - 20,  // Subtract some padding/margin if necessary
                height: height - 20
            };

            Plotly.relayout(id, update);
        }

function loadPlot(iteracao, m) {
    showLoadingModal('Obtendo gráfico ...');
    $.post("/_rede_neural_dash", { data: iteracao, m: m })
        .done(function(data) {
            $('#charts').empty();

            // Parse JSON response
            var plotData = JSON.parse(JSON.parse(data).plot);
            var chartId = 'chart_' + "saida";

            // Adicionar um contêiner para o gráfico
            $('#charts').append('<div id="' + chartId + '" class="card mb-4" style="border-radius: 15px; padding: 10px; height: 600px"></div>');

            // Plotar o gráfico usando Plotly
            Plotly.newPlot(chartId, plotData.data, plotData.layout);
            hideLoadingModal();
            resizePlot(chartId);

        })
        .fail(function() {
            hideLoadingModal();
            alert('Erro ao obter gráfico para o arquivo ' + arquivo + '. Tente novamente.');
        });
}

{% if arquivos %}
let iteracao = $('#saida-dropdown option:selected').val();
let m = $('#m-dropdown option:selected').val();
loadPlot(iteracao, m);
{% endif %}

document.addEventListener('DOMContentLoaded', (event) => {
    const dateModal = document.getElementById('dateModal');
    const dateSelect = document.getElementById('dateSelect');
    const confirmDateButton = document.getElementById('confirmDate');

    const datas = {{ dias|tojson }};  // Datas disponíveis para escolha

    console.log('Datas disponíveis:', datas);

    // Adiciona as datas ao select
    datas.forEach(date => {
        const option = document.createElement('option');
        option.value = date;
        option.textContent = date;
        dateSelect.appendChild(option);
    });

    // Lida com a confirmação da data escolhida
    confirmDateButton.addEventListener('click', () => {
        const selectedDate = dateSelect.value;
        const dateIndex = datas.indexOf(selectedDate) + 1;
        console.log('Data escolhida:', selectedDate);
        showLoadingModal('Obtendo gráfico ...');

        $.post("/_rede_neural", { date: dateIndex })
            .done(function(data) {
                $('#charts').empty();

                // Parse JSON response
                var plotData = JSON.parse(JSON.parse(data).plot);
                var plotData2 = JSON.parse(JSON.parse(data).plot2);
                console.log(plotData.data);
                console.log(plotData.layout);
                var chartId = 'chart_' + "saida";
                var chartId2 = 'chart2_' + "saida";

                // Adicionar um contêiner para o gráfico
                $('#charts').append('<div id="' + chartId + '" class="card mb-4" style="border-radius: 15px; padding: 10px; height: 600px"></div>');

                // Plotar o gráfico usando Plotly
                Plotly.newPlot(chartId, plotData.data, plotData.layout);
                hideLoadingModal();
                resizePlot(chartId);
            })
            .fail(function() {
                hideLoadingModal();
                alert('Erro ao gerar novo gráfico. Tente novamente.');
            });
    });
});
</script>
{% endblock %}
